<script>
	function accion(numero){
		var depo = document.getElementById('deposito'); 
		var reti = document.getElementById('retiro');
		var tran = document.getElementById('transferencia');

		switch (numero){
			case 1:
				depo.style.display = 'block';
				reti.style.display = 'none';
				tran.style.display = 'none';
				break;
			case 2:
				depo.style.display = 'none';
				reti.style.display = 'block';
				tran.style.display = 'none';
				break;
			case 3:
				depo.style.display = 'none';
				reti.style.display = 'none';
				tran.style.display = 'block';
				break;
		}
	}
</script>
<h2>
<input type="radio" name="opcion" onclick="accion(1)"> Deposit
<input type="radio" name="opcion" onclick="accion(2)"> Withdraw
<input type="radio" name="opcion" onclick="accion(3)"> Transfer
</h2>